.btnSize
{
    width: 120px;
    height: 20px;
}
.panelGreen
{
    background-color: red;
}

h1 {
    color: black;
}

.page--full_bg__background {
    background: url('../img/AppBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.profile-pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
img
{
    width: 100%;
    height: auto;
}


.centered {
  width: 300px;
  height: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  right: 0;
}

.group {
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative;
}

label {
  position: absolute;
  top: 20px;
  color: #f3a215;
  font: 20px Roboto;
  cursor: text;
  transition: .25s ease;
}

input {
  display: block;
  width: 100%;
  padding-top: 30.6666666667px;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #f3a215;
  background: transparent;
  border-bottom: 1px solid #659d2a;
  font-size: 20px;
  transition: .5s ease;
}
input:valid ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: #659d2a;
}
input:focus {
  outline: none;
}
input:focus ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: #f3a215;
}
input:focus ~ .bar:before {
  transform: translateX(0);
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: #659d2a !important;
}

.bar {
  background: #659d2a;
  content: '';
  width: 550px;
  height: 3.6666666667px;
  transition: .3s ease;
  position: relative;
}
.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #f3a215;
  transform: translateX(-100%);
}

::selection {
  background: #f3a215;
}
